target/
.settings/
.project
.classpath
*.orig

kitchenoffice-webapp/src/main/webapp/WEB-INF/wromapping.properties
kitchenoffice-webapp/src/main/webapp/assets/

widgetsets/
gwt-unitCache/

.checkstyle
