target/
.settings/
.idea/
.project
.classpath
*.orig
*.iml

kitchenoffice-webapp/src/main/resources/config/crowd.properties
kitchenoffice-webapp/src/main/webapp/WEB-INF/wromapping.properties
kitchenoffice-webapp/src/main/webapp/assets/

widgetsets/
gwt-unitCache/

.checkstyle

