<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->
<b:beans 
	xmlns:b="http://www.springframework.org/schema/beans"
    xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:neo4j="http://www.springframework.org/schema/data/neo4j" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.2.xsd
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/data/neo4j
			http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd">

	<!-- Activate Spring annotation support -->
	<context:spring-configured />
	<context:annotation-config />
	
	<context:component-scan base-package="com.gentics.kitchenoffice.service,com.gentics.kitchenoffice.webservice" />
	
	<neo4j:config storeDirectory="target/neo4j-db" />
	<neo4j:repositories base-package="com.gentics.kitchenoffice.repository" />

</b:beans>