Kitchenoffice Data Documentation
================================

Here we can provide some basic introduction to the project

It has generated the web site for ${project.groupId}:${project.artifactId}:${project.version}.
