<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.2.xsd
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:property-placeholder location="classpath:/config/webapp.properties" />
	<global-method-security pre-post-annotations="enabled"/>

	<!-- http entry-point-ref="restAuthenticationEntryPoint"> <intercept-url 
		pattern="/api/**" access="ROLE_USER" /> <http-basic /> </http -->
		
	<http pattern="/assets/**" security="none" />
	<http pattern="/event/rss" security="none" />

	<http entry-point-ref="casEntryPoint" use-expressions="true">
		<intercept-url pattern="/" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />

		<intercept-url pattern="/index.jsp" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/cas-logout.jsp" access="permitAll" />
		<intercept-url pattern="/casfailed.jsp" access="permitAll" />

		<custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER" />
		<custom-filter ref="singleLogoutFilter" before="CAS_FILTER" />
		<custom-filter ref="casFilter" position="CAS_FILTER" />
		<logout logout-success-url="/cas-logout.jsp" />
	</http>

	<authentication-manager alias="authManager">
		<authentication-provider ref="casAuthProvider" />
	</authentication-manager>

	<b:bean id="restAuthenticationEntryPoint"
		class="com.gentics.kitchenoffice.webservice.authentication.RestAuthenticationEntryPoint">
	</b:bean>

	<!-- This filter handles a Single Logout Request from the CAS Server -->
	<b:bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter" />
	<!-- This filter redirects to the CAS Server to signal Single Logout should 
		be performed -->
	<b:bean id="requestSingleLogoutFilter"
		class="org.springframework.security.web.authentication.logout.LogoutFilter"
		p:filterProcessesUrl="/j_spring_cas_security_logout">
		<b:constructor-arg value="https://${cas.server.host}/cas-server/logout" />
		<b:constructor-arg>
			<b:bean
				class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
		</b:constructor-arg>
	</b:bean>

	<b:bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties"
		p:service="http://${cas.service.host}/kitchenoffice-webapp/j_spring_cas_security_check"
		p:authenticateAllArtifacts="true" />
	<b:bean id="casEntryPoint"
		class="org.springframework.security.cas.web.CasAuthenticationEntryPoint"
		p:serviceProperties-ref="serviceProperties" p:loginUrl="https://${cas.server.host}/cas-server/login" />
	<b:bean id="casFilter"
		class="org.springframework.security.cas.web.CasAuthenticationFilter"
		p:authenticationManager-ref="authManager" p:serviceProperties-ref="serviceProperties"
		p:proxyGrantingTicketStorage-ref="pgtStorage"
		p:proxyReceptorUrl="/j_spring_cas_security_proxyreceptor">
		<b:property name="authenticationDetailsSource">
			<b:bean
				class="org.springframework.security.cas.web.authentication.ServiceAuthenticationDetailsSource" />
		</b:property>
		<b:property name="authenticationFailureHandler">
			<b:bean
				class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"
				p:defaultFailureUrl="/casfailed.jsp" />
		</b:property>
	</b:bean>

	<b:bean id="pgtStorage"
		class="org.jasig.cas.client.proxy.ProxyGrantingTicketStorageImpl" />

	<b:bean id="casAuthProvider"
		class="org.springframework.security.cas.authentication.CasAuthenticationProvider"
		p:serviceProperties-ref="serviceProperties" p:key="casAuthProviderKey">
		<b:property name="authenticationUserDetailsService">
			<b:ref bean="KitchenOfficeUserService" />
		</b:property>
		<b:property name="ticketValidator">
			<b:bean class="org.jasig.cas.client.validation.Cas20ProxyTicketValidator"
				p:acceptAnyProxy="true"
				p:proxyCallbackUrl="http://${cas.service.host}/kitchenoffice-webapp/j_spring_cas_security_proxyreceptor"
				p:proxyGrantingTicketStorage-ref="pgtStorage">
				<b:constructor-arg value="https://${cas.server.host}/cas-server" />
			</b:bean>
		</b:property>
	</b:bean>

</b:beans>