<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
         xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.2.xsd
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:property-placeholder location="classpath:/config/webapp.properties"/>
    <global-method-security pre-post-annotations="enabled"/>

    <!-- https://confluence.atlassian.com/display/CROWD/Integrating+Crowd+with+Spring+Security -->

    <!-- http entry-point-ref="restAuthenticationEntryPoint"> <intercept-url
        pattern="/api/**" access="ROLE_USER" /> <http-basic /> </http -->

    <http pattern="/assets/**" security="none"/>
    <http pattern="/event/rss" security="none"/>
    <http pattern="/login.jsp" security="none"/>

    <http entry-point-ref="crowdAuthenticationProcessingFilterEntryPoint" auto-config="false" use-expressions="true">
        <intercept-url pattern="/" access="isAuthenticated()"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <intercept-url pattern="/index.jsp" access="isAuthenticated()"/>

        <custom-filter position="FORM_LOGIN_FILTER" ref="authenticationProcessingFilter"/>
        <custom-filter position="LOGOUT_FILTER" ref='logoutFilter'/>
    </http>

    <b:bean id="crowdUserDetailsService"
            class="com.gentics.kitchenoffice.service.CrowdUserService">
        <b:property name="groupMembershipManager" ref="crowdGroupMembershipManager"/>
        <b:property name="userManager" ref="crowdUserManager"/>
        <b:property name="authorityPrefix" value="ROLE_"/>
    </b:bean>

    <b:bean id="crowdAuthenticationProvider"
            class="com.atlassian.crowd.integration.springsecurity.RemoteCrowdAuthenticationProvider">
        <b:constructor-arg ref="crowdAuthenticationManager"/>
        <b:constructor-arg ref="httpAuthenticator"/>
        <b:constructor-arg ref="crowdUserDetailsService"/>
    </b:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="crowdAuthenticationProvider"/>
    </authentication-manager>

    <b:bean id="restAuthenticationEntryPoint"
            class="com.gentics.kitchenoffice.webservice.authentication.RestAuthenticationEntryPoint">
    </b:bean>

    <b:bean id="crowdAuthenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <b:constructor-arg value="/login.jsp"/>
    </b:bean>

    <b:bean id="authenticationProcessingFilter" class="com.atlassian.crowd.integration.springsecurity.CrowdSSOAuthenticationProcessingFilter">
        <b:property name="httpAuthenticator" ref="httpAuthenticator"/>
        <b:property name="authenticationManager" ref="authenticationManager"/>
        <b:property name="filterProcessesUrl" value="/j_security_check"/>
        <b:property name="authenticationFailureHandler">
            <b:bean class="com.atlassian.crowd.integration.springsecurity.UsernameStoringAuthenticationFailureHandler">
                <b:property name="defaultFailureUrl" value="/login.jsp?error=true"/>
            </b:bean>
        </b:property>

        <b:property name="authenticationSuccessHandler">
            <b:bean class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
                <b:property name="defaultTargetUrl" value="/"/>
            </b:bean>
        </b:property>
    </b:bean>

    <b:bean id="crowdLogoutHandler" class="com.atlassian.crowd.integration.springsecurity.CrowdLogoutHandler">
        <b:property name="httpAuthenticator" ref="httpAuthenticator"/>
    </b:bean>

    <b:bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <b:constructor-arg value="/index.jsp"/>
        <b:constructor-arg>
            <b:list>
                <b:ref bean="crowdLogoutHandler"/>
                <b:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
            </b:list>
        </b:constructor-arg>
        <b:property name="filterProcessesUrl" value="/logout.jsp"/>
    </b:bean>

</b:beans>