<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<mvc:annotation-driven />
	<tx:annotation-driven />
	<context:component-scan base-package="com.gentics.kitchenoffice.controller" />

	<beans:bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<beans:property name="defaultLocale" value="en" />
	</beans:bean>

	<beans:bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<beans:property name="paramName" value="lang" />
	</beans:bean>

	<beans:bean
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />

	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<beans:property name="prefix" value="/WEB-INF/classes/jsp/" />
		<beans:property name="suffix" value=".jsp" />
		<beans:property name="exposedContextBeanNames">
            <beans:list>
             <beans:value>gravatar</beans:value>
            </beans:list>
          </beans:property>
	</beans:bean>

	<!-- Gravatar -->
	<beans:bean id="gravatar" class="de.bripkens.gravatar.Gravatar">
		<beans:property name="rating" value="GENERAL_AUDIENCE" />
		<beans:property name="standardDefaultImage" value="MONSTER" />
		<beans:property name="size" value="50" />
	</beans:bean>

	<mvc:resources mapping="/assets/css/**" location="/assets/css/" />
	<mvc:resources mapping="/assets/js/**" location="/assets/js/" />
	<!-- font awesome mapping -->
	<mvc:resources mapping="/assets/font/**"
		location="classpath:/META-INF/resources/webjars/font-awesome/3.1.1/font/" />

</beans:beans>